# --- API CONFIG ---
PORT=<API_PORT_NUMBER>
NODE_NAME=<API_NODE_IDENTIFIER>

# --- DATABASE MASTER (WRITE NODE) ---
DB_MASTER_HOST=<MASTER_DB_SERVICE_NAME>
DB_MASTER_PORT=<MASTER_INTERNAL_PORT>
DB_MASTER_USER=<MASTER_DB_USERNAME>
DB_MASTER_PASSWORD=<MASTER_DB_PASSWORD>
DB_MASTER_NAME=<MASTER_DB_DATABASE_NAME>

# --- DATABASE SLAVE (READ REPLICA) ---
DB_SLAVE_HOST=<SLAVE_DB_SERVICE_NAME>
DB_SLAVE_PORT=<SLAVE_INTERNAL_PORT>
DB_SLAVE_USER=<SLAVE_DB_USERNAME>
DB_SLAVE_PASSWORD=<SLAVE_DB_PASSWORD>
DB_SLAVE_NAME=<SLAVE_DB_DATABASE_NAME>